[Desktop Entry]
Version=1.0
Name=Tiling Assistant
Comment=Gerencie as exceções de tiling do COSMIC Desktop (apps flutuantes)
Exec=tiling-assistant
Icon=io.github.maugustoldo.TilingAssistant
Terminal=false
Type=Application
Categories=Settings;System;DesktopSettings;
StartupWMClass=io.github.maugustoldo.TilingAssistant
